{{!-- <div style="display:flex-wrap; justify-content: center; margin-top: 100px;"> --}}
  <div class="container d-flex justify-content-center flex-wrap m-3">
  {{#each mentors}}
  <div class="card text-center m-3 p-2" style="width: 14rem;">
    {{#if this.image.url}}
    <img src="{{this.image.url}}" alt="">
    {{/if }}
    <div class="card-body">
      <h5 class="card-title">{{this.name}} {{this.lastname}}</h5>
      <p class="card-text">Опыт:{{this.experience}}</p>
      <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal"
        data-bs-target="#b{{this._id}}">Записаться</button>
      <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#a{{this._id}}">
        Read about Mentor
      </button>

    </div>
  </div>

  <!-- Modal About Mentor-->


  <div class="modal fade" id="a{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{this.name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>I'm from {{this.city}}, {{this.country}}. I have {{this.experience}} of experience. {{this.aboutMe}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modal to send Request -->

  <div class="modal fade" id="b{{this._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Request this mentor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container row">
            <div class="jumbotron col-sm-4 pull-center">
              <form action="/{{this._id}}/request" method="post">
                <div>
                  <label>Your name:</label>
                  <input type="text" name="clientName" />
                </div>
                <div>
                  <label>Your contact information</label>
                  <input type="text" name="clientContact" />
                </div>
                <div>
                  <label>Tell us more about you</label>
                  <input type="text" name="clientAbout" />
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Send</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  {{/each }}
</div>
