{{#if user}}
<div class="container">
  <ul class="nav nav-pills nav-justified">
  
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/{{user.username}}">Мой профиль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/{{user.username}}/requests">Мои заявки</a>
  </li>
  
</ul>
</div>
<div class="container d-flex justify-content-center flex-wrap mt-3">
  
  
  <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4 bg-light text-white">
        <img src="{{user.image.url}}" alt="Your profile picture here">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{user.name}} {{user.lastname}}</h5>
          <p class="card-text">О себе: {{user.aboutMe}}</p>
          <p class="card-text">Тэги:</p>
          {{#each user.tags}}
          <p class="card-text">{{this.tag}}</p>
          {{/each}}
          <p class="card-text"><small class="text-muted">Last updated {{user.updatedAt}}</small></p>
        </div>
      </div>
      <a href="/{{user._id}}/edit" class="btn btn-primary">Редактировать</a>
    </div>
  </div>
  
</div>
{{/if}}

{{#if requests}}
<div class="accordion" id="accordionExample"></div>
{{#each requests}}
  <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Заявка 
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          {{this.name}}
          {{this.lastname}}
          {{this.contact}}
          {{this.about}}
        </div>
      </div>
    </div>
  
{{/each}}
</div>
{{/if}}
