
<div class="container">
  <ul class="nav nav-pills nav-justified">
  
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/{{user.username}}">Мой профиль</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/{{user.username}}/requests">Мои заявки</a>
  </li>
  
</ul>
</div>
<div class="container d-flex justify-content-center flex-wrap mt-3">
  
  {{#if user}}
  <div class="card mb-3" style="max-width: 700px;">
    <div class="row g-0">
      <div class="col-md-4 bg-light text-white">
        <img src="{{user.image.path}}" alt="Your profile picture here">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{user.name}} {{user.lastname}}</h5>
          <p class="card-text">О себе: {{user.aboutMe}}</p>
          <p class="card-text">Тэги:</p>
          {{#each user.tags}}
          <p class="card-text">{{this.tag}}</p>
          {{/each}}
          <p class="card-text"><small class="text-muted">Last updated {{user.updatedAt}}</small></p>
        </div>
      </div>
      <a href="/{{user._id}}/edit" class="btn btn-primary">Редактировать</a>
    </div>
  </div>
  {{/if}}
</div>





{{!-- original --}}
{{!-- {{#if user}}
<div class="card" style="width: 30rem;">
  <img src="{{user.image.path}}" class="card-img-left" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.name}} {{user.lastname}}</h5>
    <p class="card-text">О себе: {{user.aboutMe}}</p>
    <p class="card-text">Тэги:</p>
    {{#each user.tags}}
    <p class="card-text">{{this.tag}}</p>
    {{/each}}
    <a href="/{{user._id}}/edit" class="btn btn-primary">Редактировать</a>
  </div>
</div>
{{/if}} --}}
